<h1>Mis posts</h1>
<%= link_to "Nueva entrada", new_post_path %>

<div id="content">
	<div id="showPost">
		<% @posts.each do |post| %>
			<div class="posts">
				<div class="postTitle"><%= post.title %></div>
				<div class="postText"><%= post.text %></div>
				<div class="postOptions">
					<%= link_to 'Ver', post_path(post) %>
			    	<%= link_to 'Editar', edit_post_path(post) %>
			    	<%= link_to 'Eliminar', post_path(post), method: :delete, data: { confirm: '¿Estás seguro?' } %>
				</div>
			</div>
		<% end %>
	</div>
</div>